<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("ead860b0-fd25-4a06-a438-a0e079b37ab3");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
